@using System.Data;
@model ;
<div>

    <table id="tbl">
        <tr>

            <th>ID</th>

            <th>Song Name</th>


            <th>Song Name Bangla</th>


            <th>Coin</th>

            <th>Artist</th>

            <th>OwnerName</th>

            <th>TimeStamp</th>

        </tr>


        @*@foreach (DataRow item ViewBag.data) { }*@



    </table>

</div>